{#
/**
 * @file lmwr_field_cluster_entity.html.twig
 * Default theme implementation to present Lmwr field cluster entity data.
 *
 * This template is used when viewing Lmwr field cluster entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_lmwr_field_cluster_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('lmwr_field_cluster_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
